/*--------------*\
    bg-color
\*--------------*/
.bg-black {
  background-color: #000 !important;
}
.bg_gradient{
    background: rgb(248,86,133);
    background: linear-gradient(325deg, rgba(248,86,133,1) 11%, rgba(249,92,96,1) 69%);
  }
  .bg_primary{
    background-color: #baa185;
  }
